:root {
  --bg: #121212;
  --card: #1e1e1e;
  --primary: #00bcd4;
  --text: #eee;
  --sub: #aaa;
  --off: #f44336;
  --on: #4caf50;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  background: var(--bg);
  color: var(--text);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

:is(header, footer) {
  font: 700 0.75rem sans-serif;
  letter-spacing: 2px;
  color: var(--sub);
  padding-block: 20px;
  text-align: center;

  & a {
    color: var(--primary);
    text-decoration: none;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 20px;
  gap: 20px;
}

.card {
  background: var(--card);
  padding: 25px;
  border-radius: 20px;
  width: min(100%, 340px);
  box-shadow: 0 10px 30px #0008;

  & .card__title {
    font: 600 1.4rem sans-serif;
  }

  & .card__header,
  & .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }
}

.status {
  width: 12px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--off);

  &.connected {
    background: var(--on);
  }
}

label {
  font-size: 1rem;
  color: var(--sub);
}

.toggle {
  position: relative;
  width: 48px;
  height: 26px;
  border-radius: 34px;
  overflow: hidden;

  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.toggle__slider {
  position: absolute;
  inset: 0;
  background: #444;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 34px;

  &::before {
    content: "";
    position: absolute;
    inset: 3px auto 3px 3px;
    aspect-ratio: 1;
    background: #fff;
    border-radius: 50%;
    transition: 0.3s;
  }
}

input:checked + .toggle__slider {
  background: var(--primary);
  &::before {
    transform: translateX(22px);
  }
}

input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  border-radius: 99px;
  margin-block: 10px 25px;
  background: #444 linear-gradient(var(--primary), var(--primary)) no-repeat 0 /
    var(--percent, 0%) 100%;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 2px 6px #0006;
  }
}

.btn {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 12px;
  background: #333;
  color: inherit;
  font: 600 1rem sans-serif;
  display: flex;
  place-content: center;
  align-items: center;
  gap: 8px;
  transition: 0.2s;

  & svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
}

:disabled,
[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
  filter: grayscale(1);
}
